@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
:root {
    --bg-color: #185ec7;
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --font: "Edu AU VIC WA NT Guides", cursive;
}

body {
    background-color: var(--bg-color);

body {
    font: var(--font);
    color: var(--bg-color);
}